---
---
<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">

    {% include head.html %}

    <body id="top">
        
        <main class="main-content">
            {% include cover.html %}


            <div class="row subtle-sayagata">
                <div class="container">
                    <a class="anchor" id="faq"></a>
                    <section id="faq-section" class="section">
                        <h4 class="center-align">Frequently Asked Questions</h4>
                        <div class="row">
            
                            <div class="col s12 m4">
                                <h2 class="center teal-text"><i class="material-icons">shopping_cart</i></h2>
                                <h5>How much does it cost?</h5>
            
                                <p>Tickets are free, 100% free.</p>
                                <p class="light">
                                    Applications are now closed.
                                </p>
                                <p class="light">More information on reimbursements coming soon. Full reimbursements are not guaranteed.</p>
                            </div>
            
                            <div class="col s12 m4">
                                <h2 class="center teal-text"><i class="material-icons">input</i></h2>
                                <h5>Who may attend?</h5>
            
                                <p>Any student currently enrolled in full-time further education may join — if you graduated less than a year ago, you're also eligible.</p>
            
                                <p class="light">Unfortunately under 18s may not participate this year.</p>
                            </div>
            
                            <div class="col s12 m4">
                                <h2 class="center teal-text"><i class="material-icons">work</i></h2>
                                <h5>What do I bring?</h5>
                                
                                <p>We'll be providing all the food, snacks, drinks and merch to get you through the weekend.</p>
            
                                <p class="light">But you'll need your own device to work on — don't forget your charger!</p>
                            </div>
            
                        </div>
                        
                        <div class="row">
                            
                            <div class="col s12 m4">
                                <h2 class="center teal-text"><i class="material-icons">stay_current_landscape</i></h2>
                                <h5>Can I take photos?</h5>
            
                                <p>Yes, but don't forget to follow our <a href="https://my.hacktheburgh.com/code_conduct/">Code of Conduct</a>.</p>
            
                                <p class="light">If you do not want your photos taken, you will be able to collect a lanyard at the registration desk.</p>
                            </div>
            
            
                            <div class="col s12 m4">
                                <h2 class="center teal-text"><i class="material-icons">schedule</i></h2>
                                <h5>Yawn. Can we sleep over?</h5>
            
                                <p>Absolutely! You may want to bring some spare clothes and a sleeping bag.</p>
            
                                <p class="light">Don't forget to bring a toothbrush and some deodorant. We don't have showers.</p>
                            </div>
            
                            <div class="col s12 m4">
                                <h2 class="center teal-text"><i class="material-icons">play_arrow</i></h2>
                                <h5>I can't code, can I join?</h5>
            
                                <p>If you're new to programming, a hackathon is the best place for you to go to.</p>
            
                                <p class="light">There'll be plenty of mentors ready to assist you with whatever problem you face.</p>
            
                                <p class="light">Don't hestitate to ask for help, we don't bite!</p>
                            </div>
            
                        </div>
            
                        <div class="row">
            
                            <div class="col s12 m4">
                                <h2 class="center teal-text"><i class="material-icons">group</i></h2>
                                <h5>What about teams?</h5>
            
                                <p>You may team up with up to three other people. Teams exceeding four people are ineligible for prizes.</p>
            
                                <p class="light">Do not worry if you haven't got a team — you're not alone — we'll help you form a team at the event.</p>
                            </div>
            
                            <div class="col s12 m4">
                                <h2 class="center teal-text"><i class="material-icons">verified_user</i></h2>
                                <h5>Are there any rules?</h5>
            
                                <p>Yes. Our <a href=https://my.hacktheburgh.com/code_conduct/>Code of Conduct</a> lives here. </p>
            
                                <p class="light">By participating in Hack the Burgh you are agreeing to follow all of the rules listed. It is scientifically proven that nice people live longer.</p>
                            </div>
            
                            <div class="col s12 m4">
                                <h2 class="center teal-text"><i class="material-icons">search</i></h2>
                                <h5>What if I'm not a student?</h5>
            
                                <p>You can become a volunteer or mentor. <a href="https://goo.gl/forms/nv5wXtZX77kt4mFY2">Apply here!</a></p>
                           </div>
            
                        </div>
                    </section>
                </div>
            </div>
            
                        
            {% include reimbursements.html %}
            
            
                        <div class="row subtle-grey">
                <a class="anchor" id="location"></a>
                <section id="location-section" class="section">
                  <div class="col s12">
                    <h4 class="center-align" style="padding-bottom: 20px">Informatics Forum, 10 Crichton Street, Edinburgh, EH8 9AB</h4>
                      
                    <iframe
                        width="600"
                        height="450"
                        frameborder="0"
                        style="border:0"
                        scrolling="no"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDgGU2Yf-hfkXSEuAmrmQ1yqA8Rxz0Fva8
                            &q=Informatics+Forum,Edinburgh
                            &attribution_source=Hack+the+Burgh
                            &attribution_web_url=http://hacktheburgh.com/
                            &zoom=18"
                        allowfullscreen>
                      </iframe>
                  </div>
                </section>
            </div>
        </main>

        <footer class="page-footer teal" style="-top: 0;">
            <div class="footer-copyright">
                <div class="container">
                    <a class="grey-text text-lighten-2" href="http://comp-soc.com">CompSoc Edinburgh</a> ♥ You
                    <span class="right">
                        <a class="grey-text text-lighten-2" href="http://2015.hacktheburgh.com">2015</a>
                        <span class="separator"></span>
                        <a class="grey-text text-lighten-2" href="http://2016.hacktheburgh.com">2016</a>
                        <span class="separator"></span>
                        <a class="grey-text text-lighten-2" href="http://2017.hacktheburgh.com">2017</a>
                        <span class="separator"></span>
                        <a class="grey-text text-lighten-2" href="https://my.hacktheburgh.com/code_conduct">Code of Conduct</a>
                    </span>
                </div>
            </div>
        </footer>

        {% include scripts.html %}

        <script src="{{ site.baseurl }}/static/js/index.js"></script>

    </body>

</html>
