<div class="row cover center-align parallax-container">

    <section>
        <img id="cover-img" src="/static/img/logo-htb-print.png" alt="Hack the Burgh">
        
        <p>
            The hackathon from beyond the wall will be back from the 10th to 11th of March, in the Informatics Forum.
        </p>

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup" style="display: none;">
            <form action="//hacktheburgh.us12.list-manage.com/subscribe/post?u=3d906da9a8300efe7c729ff60&amp;id=65a05e4fff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3d906da9a8300efe7c729ff60_65a05e4fff" tabindex="-1" value=""></div>
                <div class="clear"><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button waves-effect btn teal">interested?</button></div>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" style="display:none" required>
            </form>
        </div>
        <!--End mc_embed_signup-->
        <a href="https://my.hacktheburgh.com" class="waves-effect btn teal">apply</a>
        <a href="https://www.facebook.com/events/203000843590719/?active_tab=about" class="waves-effect btn teal">facebook</a>
    </section>

    <footer>
        <p>Looking for last year's <a href="http://2017.hacktheburgh.com">website?</a>
        </p>
    </footer>

    <div class="parallax"><img src="/static/img/htb-splash.opt.jpg"></div>
</div>
