<footer class="page-footer teal" style="-top: 0;">
    <div class="footer-copyright">
        <div class="container">
            <a class="grey-text text-lighten-2" href="http://comp-soc.com">CompSoc Edinburgh</a> ♥ You
            <span class="right">
                <a class="grey-text text-lighten-2" href="http://2015.hacktheburgh.com">2015</a>
                <span class="separator"></span>
                <a class="grey-text text-lighten-2" href="http://2016.hacktheburgh.com">2016</a>
                <span class="separator"></span>
                <a class="grey-text text-lighten-2" href="http://2017.hacktheburgh.com">2017</a>
                <span class="separator"></span>
                <a class="grey-text text-lighten-2" href="https://my.hacktheburgh.com/code_conduct">Code of Conduct</a>
            </span>
        </div>
    </div>
</footer>
