<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{{ site.description }}">

    <meta property="og:url" content="http://2017.hacktheburgh.com" />
    <meta property="og:title" content="Hack the Burgh 2018" />
    <meta property="og:description" content="The hackathon from beyond the wall will be returning soon." />
    <meta property="og:image" content="http://2017.hacktheburgh.com/static/img/htb-preview.jpg" />
    
    <link rel="icon" href="{{ site.baseurl }}/static/img/htb-favicon.png" type="image/png">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/font-awesome/css/font-awesome.min.css">

    <title>Hack the Burgh 2017</title>

    <!-- Raleway font -->
    <!-- Todo: merge with below font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/static/css/materialize.min.css" media="screen,projection"/>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ site.baseurl }}/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/static/css/main.css?time='{{site.time}}'" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
