<div class="row subtle-grey">
    <a class="anchor" id="location"></a>
    <section id="location-section" class="section">
    <div class="col s12">
        <h4 class="center-align" style="padding-bottom: 20px">Informatics Forum, 10 Crichton Street, Edinburgh, EH8 9AB</h4>
                      
        <iframe
            width="600"
            height="450"
            frameborder="0"
            style="border:0"
            scrolling="no"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDgGU2Yf-hfkXSEuAmrmQ1yqA8Rxz0Fva8
            &q=Informatics+Forum,Edinburgh
            &attribution_source=Hack+the+Burgh
            &attribution_web_url=http://hacktheburgh.com/
            &zoom=18"
            allowfullscreen>
        </iframe>
      </div>
    </section>
</div>
