<div class="row seigaiha">
    <a class="anchor" id="sponsors"></a>

    <div class="col s12 center-align">
        <div class="container">
            <section id="sponsors-section" class="container section">
                <h4 class="center-align">Sponsors</h4>

                <div class="row gold">
                    <a href="https://www.blackrock.com/">
                        <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-blackrock.png">
                    </a>
                    <a href="https://www.morganstanley.com/">
                        <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-morganstanley.png">
                    </a>
                </div>

                <div class='row separator'>
                    <div class="col s6 push-s3"><hr></div>
                </div>

                <div class="row silver">
                        <a href="https://craneware.com">
                            <img style="width: 35%" class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-craneware.png">
                        </a>
                    </div>
                    
                    <div class='row separator'>
                        <div class="col s4 push-s4"><hr></div>
                    </div>
                    
                    <div class="row brilver">
                        <a href="https://www.skyscanner.com/">
                            <img style="width: 25%" class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-skyscanner.png">
                        </a>
                        
                        
                        <a href="https://www.arm.com/">
                            <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-arm.png">
                        </a>
                
                        <a href="https://github.com/">
                            <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-github.png">
                        </a>
                    

                    <!-- <a href="http://www.aigaming.com/" class="aigaming">
                        <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-aigaming.png">
                    </a> -->
                
                </div>
                
                <div class='row separator'>
                    <div class="col s2 push-s5"><hr></div>
                </div>

                <h4>Proudly hosted by</h4>
                <div class="row hosts">
                    <a href="http://comp-soc.com">
                        <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-compsoc.png">
                    </a>
                    <a href="http://www.ed.ac.uk/informatics/">
                        <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-informatics.gif">
                    </a>
                </div>
            </section>
        </div>
    </div>

</div>