<div class="row">
    <div class="container">
        <div class="row">
            {% for c in site.data.challenges %}
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{ c.title }}{% if c.slackName %}<a href="https://hacktheburgh2018.slack.com/messages/{{ c.slackID }}/">#sponsor-{{ c.slackName }}</a>{% endif %}</span>
                            <p>{{ c.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>