<div class="row">
    <div class="container">
        <div class="row">
			
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Contact</span>
						<ul class="browser-default">
							<li>Slack is the primary tool of communication between hackers, sponsors and organisers</li>
							<li><strong>Qais (+447480660287), Elena (+447460770716)</strong> or any other organiser for any problems.</li>
							<li><strong>999 and 112 </strong> for critical life or death situations.</li>
						</ul>
                    </div>
                </div>
            </div>
			
			<div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Teams</span>
							In order to be eligible for a challenge prize, you team needs to consist of up to 4 people. There is nothing to stop you working alone or in a pair, however.
                    </div>
                </div>
            </div>
			
			<div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Internet</span>
                            <p>Eduroam is available for use.</p>
                            <p>If you do not have eduroam or if you are experiencing connection issues, please contact one of the organisrs and we will sort it out for you.</p>
                    </div>
                </div>
            </div>
			
			<div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Have more questions?</span>
							You will find most answers to your questions in the participant handbook below. Alternatively, do not hesitate to ask on Slack!
                    </div>
                </div>
            </div>
			
        </div>
    </div>
</div>
